[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "bundle/ftl-vim-syntax"]
	path = bundle/ftl-vim-syntax
	url = git://github.com/chaquotay/ftl-vim-syntax.git
[submodule "bundle/inkpot"]
	path = bundle/inkpot
	url = git://github.com/ciaranm/inkpot.git
[submodule "bundle/vim-twig"]
	path = bundle/vim-twig
	url = git://github.com/beyondwords/vim-twig.git
[submodule "bundle/vimclojure"]
	path = bundle/vimclojure
	url = git://github.com/vim-scripts/VimClojure.git
[submodule "bundle/tslime"]
	path = bundle/tslime
	url = git://github.com/jgdavey/tslime.vim.git
[submodule "bundle/thrift"]
	path = bundle/thrift
	url = git://github.com/sprsquish/thrift.vim.git
[submodule "bundle/vim-protobuf"]
	path = bundle/vim-protobuf
	url = git://github.com/jboyens/vim-protobuf.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
