[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "bundle/ftl-vim-syntax"]
	path = bundle/ftl-vim-syntax
	url = git://github.com/chaquotay/ftl-vim-syntax.git
[submodule "bundle/inkpot"]
	path = bundle/inkpot
	url = git://github.com/ciaranm/inkpot.git
[submodule "bundle/vim-twig"]
	path = bundle/vim-twig
	url = git://github.com/beyondwords/vim-twig.git
